html { 
    background: url(japanese_gate.svg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #my_canvas {
      z-index: 2;
  }