body {
    background-color: black;
    color: white;
    font-family: "Consolas";
    font-size: 1.3rem; 
    margin: 0;
}

p {
    margin-top: 0;
}
  
input {
    border: none;
    width: 100%;
    color: white;
    background-color: black;
    font-family: inherit;
    font-size: inherit; 
}

img {
    width: 100%;
    height: auto;
}

input:focus {
    outline: none; 
}

.container {
    margin: 1rem 0.5rem;
}

.lower_pattern {
    position: absolute;
    bottom: 0;
}
  
.success {
    color: green; 
}

.failure {
    color: red;
}

.interact {
    color: lightseagreen;
}
  