body {
    background-color: black;
    color: white;
    font-family: "Consolas";
    font-size: 1.3rem; 
}
  
  input {
    border: none;
    width: 80%;
    color: white;
    background-color: black;
    font-family: inherit;
    font-size: inherit; 
}
input:focus {
    outline: none; 
}
  
.custom__commands {
    color: green; 
}
  